@import "../../../core/colors.scss";

button {
  float: right;
  margin-right: 0rem;
}

mat-card {
  box-shadow: none;
}

.mt {
  margin-top: 0.5rem;
}

.titulo-cliente {
  margin: 15px 0px 40px 0px;
}
