
  $primary: #002C37;
  $primary-dark: #0A4A5B;
  $primary-medium: #00586F;
  $primary-light: #11728B;
  $primary-lightest: #4F9CB0;
  $primary-border: #3CA6D6;

  $secondary: #FFFFFF;

  $gray1: #333333;
  $gray2: #444;
  $gray3: #777;
  $gray4: #BDBDBD;
  $gray5: #E0E0E0;
  $gray6: #F2F2F2;
  $gray7: #fafafa;
  $gray8: #fefefe;
  $white: #FFFFFF;

  $blue1: #102fba;
  $blue2: #1084ba;
  $blue3: #2ae1ed;
  $green1: #0a742c;
  $green2: #10ba47;
  $green3: #2aed69;
  $orange: #F2994A;
  $red: #e9143b;
  $darkred: #AD112f;
  $red-danger-medium: #E6173E;
  $red-danger-light: #F0748B;

  $yellow: #edeb2a;

  $black: #000000;

